:root {
  --main-color: #273c75;
  --secondary-color: #192a56;
  --hover-color: #4a69bd;
}

.header {
  display: flex;
  align-items: center;
  background-color: var(--main-color);

  /* width: 100%;
  height: 5rem;
  display: flex;
  padding: 0 10%; */
}

/* .header ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: baseline;
} */
/*
.header li {
  margin-left: 3rem;
}

.header a {
  text-decoration: none;
  font-size: 1.2rem;
  color: white;
  font-weight: 700;
}

.header a:hover,
.header a:active,
.header a.active {
  color: white;
} */

.badge {
  background-color: var(--hover-color);
  color: white;
  border-radius: 12px;
  padding: 0 1rem;
  margin-left: 0.5rem;
}

.logoicon {
  filter: drop-shadow(0 00px 10px var(--accent-color));
  margin-left: 1rem;
  cursor: pointer;
}

:root {
  --underline-height: 0.5em;
  --transition-duration: 0.5s;
}
