.list {
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
  }
.homeList
{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
.userTickets{
    list-style: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content:space-evenly;
    align-items: center;
    margin: 0;
    padding: 0;
}
@media only screen and (min-width: 400px) and (max-width: 950px){
  .homeList{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
  .userTickets{
    display: flex;
    align-items: center;
    flex-direction: column;
  }
}

.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  padding: 20px;
}


@media (max-width: 1400px) {
  .container {
    grid-template-columns: 1fr; 
  }
}