.form {
    padding: 1rem;
    margin: auto;
    text-align: start;
    width: 100%;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }

  .vip{
    color: #273c75;
    font-weight: bolder;
    font-size: large;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control select,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #273c75;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #273c75;
    border-radius: 10px;
    font-weight: bold;
    transition: ease-in-out 0.5s;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #4a69bd;
    border-color: #4a69bd;
    color: white;
  }

  .optionstyle{
    color: white;
    background-color: #273c75;
    font-weight: 600;
  }

  .editmatchcard{
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 3px;
    margin-bottom: 30px;
    width: 30vw;
    margin: auto;
  }

  .newstadlayout{
    width: 100%;
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin-bottom: 30px;
    /* width: 30vw; */
  }