.form {
    padding: 1rem;
  }
  
  .control {
    margin-bottom: 0.5rem;
  }

  .vip{
    color: #273c75;
    /* font-weight: bolder; */
    font-size: large;
  }
  
  .control label {
    display: block;
    font-weight: bold;
    margin-bottom: 0.5rem;
  }
  
  .control input,
  .control select,
  .control textarea {
    display: block;
    font: inherit;
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 0.25rem;
    width: 100%;
  }
  
  .actions {
    margin-top: 1rem;
    text-align: right;
  }
  
  .actions button {
    font: inherit;
    cursor: pointer;
    background-color: #273c75;
    color: white;
    padding: 0.5rem 1.5rem;
    border: 1px solid #273c75;
    border-radius: 10px;
    font-weight: bold;
    transition: ease-in-out 0.5s;
  }
  
  .actions button:hover,
  .actions button:active {
    background-color: #4a69bd;
    border-color: #4a69bd;
    color: white;
  }
  .select_options {
    background-color: white;
    color: #1b357d;
  }
  .userInputField
  {
    padding: 15px !important;
  }
  .infoContainer{
    display : flex;
    justify-content : space-between;
  }
  .type
  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  .femaleMaleContainer{
    display: flex;
    align-items: center;
    margin-right: 10px;
  }
  .femaleLabel{
    color: #273c75;
    font-weight: bold;
    margin-right: 20px;
  }
  .femaleLabel{
    color: #273c75;
    font-weight: bold;
  }
  .nationalityOptions{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
  }
  .nationalityLabel{
    font-weight: bold;
  }
  .nationalitySelect{
    background-color: whitesmoke;
    /* color: whitesmoke; */
    padding: 10px;
    border-radius: 10px;
    /* font-weight: bold; */
    appearance: none;
    margin-top: 6px;
    border-radius: 2px;
    border: 1px solid #ccc;
  }
  .roleContainer{
    display: flex;
    align-items: center;
  }
  .roleLabel{
    font-weight: bold;
    color: #273c75;
  }
  .roleSelect{
    font-weight: bold;
    text-align: center;
    background-color: #273c75;
    border-radius: 10px;
    min-width: 60px;
    margin-left: 10px;
    min-height: 30px;
    appearance: none;
    color: white
  }
  .inputGender{
    margin-right: 5px;
  }