.card {
    background-color: white;
    border-radius: 12px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
    padding: 30px;
    margin: 30px;
    min-width: 42vw;
    text-align: center;
  }

.cardoutsidelayoyt{
    margin: auto;
    display: flex;
    justify-content: center;
  }
